body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-size: cover;
  background-color: #016f32;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  padding: 1rem;
  background: goldenrod;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background: #f1c40f;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
